@model ProductVM
    <div class="container">
        <a type="button" class="btn btn-outline-success my-3" asp-controller="Product" asp-action="Create">Create</a>
        <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <th scope="col">ProductId</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">OldPrice</th>
                    <th scope="col">Price</th>
                    <th scope="col">Add to Basket</th>
                    <th scope="col">Update</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.ProductList != null)
                {
                    foreach (var item in Model.ProductList)
                    {
                        <tr>
                            <th scope="row">@item.Id</th>
                            <td>@item.Name</td>
                            <td>@item.Description</td>
                            <td>@item.OldPrice</td>
                            <td>@item.Price</td>
                            <td><a type="button" class="btn btn-outline-warning" asp-controller="Basket" asp-action="AddBasket" asp-route-productId="@item.Id">Add Basket</a></td>
                            <td><a type="button" class="btn btn-outline-warning" asp-controller="Product" asp-action="Update" asp-route-id="@item.Id">Update</a></td>
                            <td><a type="button" class="btn-close btn-close-white" asp-controller="Product" asp-action="Remove" asp-route-id="@item.Id"></a></td>
                        </tr>
                    }
                }

            </tbody>
        </table>
    </div>