@model ProductVM
<form asp-action="Update" asp-controller="Product"
      data-ajax="true" data-ajax-method="POST"
      data-ajax-success="OnSuccess">
    <div class="form-group">
        <label>Product Name</label>
        <input type="text" class="form-control" name="Name" value="@Model.Product.Name">
    </div>
    <div class="form-group">
        <label>Description</label>
        <input type="text" class="form-control" name="Description" value="@Model.Product.Description">
    </div>
    <input hidden name="OldPrice" value="@Model.Product.Price" />
    <div class="form-group">
        <label for="ProductPrice">Price</label>
        <input type="text" class="form-control" name="Price" id="ProductPrice" value="@Model.Product.Price">
    </div>
    <label>Category</label>

    <select class="form-select" aria-label="Default select example" name="CategoryId">
        @if (Model.CategoryDtos != null)
        {
            foreach (var item in Model.CategoryDtos)
            {
                if (Model.Product.CategoryId == item.Id)
                {
                    <option value="@item.Id" selected>@item.Name</option>

                }
                else
                {
                    <option value="@item.Id">@item.Name</option>

                }
            }
        }
    </select>
    <input type="number" name="Id" value="@Model.Product.Id" hidden />
    <button type="submit" class="btn my-3 btn-primary">Save</button>
</form>
<script>
    function OnSuccess() {
        alert("Transaction Successful");
        LoadPage();
    }
</script>